<!Doctype html>
<html>

<head>
    <!--    the below is very important in order to have the display according to the device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/requestsToHod.css" />
    <title>OutPass</title>
</head>

<body>

    <div class="item-container">
        <div class="row blank"></div>
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
            <div class="col-lg-6 col-md-12 col-sm-8">
                <% if(!application.length) { %>
                    <h1 class="display-1 font-weight-bold mt-5">No requests yet!!</h1>
                    <% } for(var i in application) { %>
                        <form class="card">
                            <div class="row body-container">
                                <div class="col-lg-3 col-md-4 col-sm-4 mode">
                                    <label for="other">
                                        <span><i class="fa fa-<%= application[i].journey_mode %>
                                fa-5x"></i></span>
                                        <h1>
                                            <%= application[i].journey_mode %>
                                        </h1>
                                    </label>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-4 desc">
                                    <div class="personal_info">
                                        <div class="info">
                                            <!--                                    use &nbsp;&nbsp; for adding extra blank space-->
                                            <div class="item">
                                                <h4>From:&nbsp;&nbsp; &nbsp;&nbsp;</h4>
                                                <h5>
                                                    <%= (application[i].journey_from)%>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>To:&nbsp;&nbsp; &nbsp;&nbsp;</h4>
                                                <h5>
                                                    <%= application[i].journey_to %>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>Name:&nbsp;&nbsp; </h4>
                                                <h5>
                                                    <%= application[i].studentName %>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>Block:&nbsp;&nbsp; </h4>
                                                <h5>
                                                    <%= application[i].studentBlock %>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>RoomNo.: &nbsp;&nbsp; </h4>
                                                <h5>
                                                    <%= application[i].studentRoomNo %>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>Contact:&nbsp;&nbsp; </h4>
                                                <h5>
                                                    <%= application[i].studentContact %>
                                                </h5>
                                            </div>
                                            <div class="item">
                                                <h4>Reason:&nbsp;&nbsp; </h4>
                                                <h5>
                                                    <%= application[i].reason %>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4 options">
                                    <!--                            change the type to submit  from button below to enable the forward button-->
                                    <input class="btn btn-outline-success" type="submit" name="status" value="Approved"
                                        formaction="/hod/status/<%= application[i].applicationId
                            %>/requests?_method=put" formmethod="post">
                                    <input class="btn btn-outline-danger" type="submit" name="status" value="Rejected"
                                        formaction="/hod/status/<%= application[i].applicationId
                            %>/requests?_method=put" formmethod="post">
                                </div>
                                <div>
                                    <textarea name="reason" id="reason" cols="30" rows="10" placeholder="Reason of rejection"></textarea>
                                </div>
                            </div>
                            <button style="width: 200px;"><a class="dropdown-item"
                                    href="/hod/requests/history/<%= application[i].studentId %>">Check
                                    History</a></button>
                        </form>
                        <% } %>

            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script language="javascript">print_state("sts");</script>
</body>

</html>